#wrapper{
	margin-right: auto;
	margin-left: auto;
}
#floorplan{
	
}
#register{
    position: absolute;
    left: 980px;
    top: 0px;
}
#showboard{
    position: absolute;
    left: 980px;
    top: 250px;
}
#returnData{
    position: absolute;
    left: 0px;
    top: 700px;
}
.container {
    width: 200px;
    clear: both;
}
.container input {
    width: 100%;
    clear: both;
}